<%= form_for(@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= @note.errors.count %>件のエラー:</h2>

      <ul>
        <% @note.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-design-wrapper">
<div class="form-design">
  企業名
  <%= f.text_field :title, {class: "form-control title-field" }  %>
  事業内容
  <%= f.text_area :content, { class: "form-control content-field" } %>
  会社の雰囲気
  <%= f.text_area :content2, { class: "form-control content-field" } %>
  職種ごとの仕事内容
  <%= f.text_area :content3, { class: "form-control content-field" } %>
  会社へ対する評価
  <%= f.text_area :content4, { class: "form-control content-field" } %>
  <%= f.submit "保存", { class: "btn primary-btn" } %>
</div>
</div>
<% end %>